*{
	box-sizing:	border-box !important;
}

body{
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: hidden;
}

h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900 !important;
	text-transform: uppercase;
	font-size: 70px !important;
}

h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 900 !important;
	text-transform: uppercase;
	font-size: 40px !important;
}

h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 30px !important;
}

hr{
	width: 50%;
	right: 25%;
	position: absolute;
}



.gradient-theme{
	background: linear-gradient(to right, #fd746c, #ff9068) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	font-weight: bold;
}

.float {
  animation: anim-float 4s ease-in-out infinite;
}

@keyframes anim-float {
 	0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media (min-width: 1300px) {
	.main-header{
		animation: anim-header-bg 20s linear infinite;
		background: url('main-header.webp') center center no-repeat;
		height: calc(100vh - 50px) !important;
		width: 100vw !important;
		color: white;
		background-size: 150%;
	  background-repeat: no-repeat;
	  box-shadow: 0 0 500px rgba(0,0,0,0.9) inset;
	}
	@keyframes anim-header-bg {
	 	0% {
	    background-size: 133%;
	  }
	  50% {
	    background-size: 113%;
	  }
	  100% {
	    background-size: 133%;
	  }
	}
}

@media (min-width: 1000px) {
	.slide{
		/** height: 75vh; **/
		padding: 100px 0 50px 0 !important;
  	display: flex;
  	flex-flow: row wrap;
  	overflow: hidden;
  	justify-content: center;
	}
	.main-header{
		background: url('main-header.webp') center center no-repeat;
		height: calc(100vh - 50px) !important;
		width: 100vw !important;
		color: white;
		background-size: cover;
	  background-repeat: no-repeat;
	  box-shadow: 0 0 500px rgba(0,0,0,0.9) inset;
	}
	.black-rectangle{
		margin: 0;
		padding: 0;
		width: 650px;
		height: 90px;
		background: black;
		z-index: -100;
		position: absolute;
		top: calc(50% - 45px);
	  left: calc(50% - 325px);
	}
	.col-lg{
		margin: 0 100px 0 100px !important;
	}
	.bigIcon{
		font-size: 70px !important;
	}
	img{
		width: 90% !important;
		height: auto !important;
	}
}

@media (min-width: 643px) and (max-width: 1000px) {
	.slide{
			padding: 50px 0 50px 0;
	  	display: flex;
	  	flex-flow: row wrap;
	  	overflow: hidden;
	  	justify-content: center;
	}
	.black-rectangle{
		margin: 0;
		padding: 0;
		width: 650px;
		height: 90px;
		background: black;
		z-index: -100;
		position: absolute;
		top: calc(50% - 45px);
	  left: calc(50% - 325px);
	}
	.main-header{
		background: url('main-header.webp') center center no-repeat;
		height: calc(100vh - 50px) !important;
		width: 100vw !important;
		color: white;
		background-size: cover;
	  background-repeat: no-repeat;
	  box-shadow: 0 0 500px rgba(0,0,0,0.9) inset;
	  overflow: hidden;
	}
	.bigIcon{
		font-size: 70px !important;
	}
	img{
		width: 100% !important;
		height: auto !important;
	}
}

@media (max-width: 643px) {
	.bio{
		padding: 0 30px 0 30px !important;
		text-align: center;
	}
	.slide{
			padding: 40px 0 40px 0;
	  	display: flex;
	  	flex-flow: row wrap;
	  	overflow: hidden;
	  	text-align: center !important;
	  	justify-content: center;
	}
	.slide h2{
		overflow-wrap: break-word;
		font-size: 30px !important;
		text-align: center !important;
	}
	.slide h3{
		overflow-wrap: break-word;
		font-size: 25px !important;
		text-align: center !important;
	}
	.main-header{
		background: url('main-header.webp') center center no-repeat;
		height: calc(100vh - 50px) !important;
		width: 100vw !important;
		color: white;
		background-size: cover;
	  background-repeat: no-repeat;
	  box-shadow: 0 0 500px rgba(0,0,0,0.9) inset;
	  overflow: hidden;
	}
	.black-rectangle{
		margin: 0;
		padding: 0;
		width: 430px;
		height: 67px;
		background: black;
		z-index: -100;
		position: absolute;
		top: calc(50% - 34px);
	  left: calc(50% - 215px);
	}
	h1{
		font-size: 40px !important;
		line-height: 67px !important;
	}
	.bigIcon{
		font-size: 70px !important;
	}
	.sc-player{
		width: 90% !important;
	}
	img{
		width: 90% !important;
		height: auto !important;
	}
}

@media (min-width: 0px) and (max-width: 360px) {
	h1{
		font-size: 35px !important;
		line-height: 67px !important;
	}
	img{
		width: 90% !important;
		height: auto !important;
	}
}

#scrollspy{
	background: #fff !important;
}

.navbar-brand{
	font-size: 20px !important;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900 !important;
	font-style: italic;
	text-transform: uppercase;
	padding: 0 !important;
	margin: 0 0 6px 10px !important;
}

.nav{
	background: #fff !important;
}

.nav-pills{
	padding: 0 !important;
	margin: 0 0 5px 0 !important;
}

.nav .nav-item .nav-link{
	padding:0 !important;
	margin: 0 10px 0 10px;
	position: relative;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	line-height: 50px !important;
}

.nav .nav-item .nav-link:hover{
	color: #000;
}

.nav .nav-item .nav-link::before{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	bottom: 8px;
	left: 0;
	background-color: #000;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.nav .nav-item .nav-link:hover::before {
  transform: scaleX(1);
}

.active{
	background: transparent !important;
	color: black !important;
}

.socials{
	color: black !important;
	text-decoration: none !important;
}

.bigIcon{
	font-size: 100px;
}

